// Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$text-color: #000;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  // font-family: 'Shrikhand', cursive;
  color: $text-color;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
